.icons {
  float: right;
  padding: rem(20px);
}

.icon-element {
  width: 72px;
  line-height: rem(20px);

  p {
    margin: 0;
    line-height: rem(18px);
    background-color: white;
    text-align: center;
    white-space: nowrap;
  }
}
