.icons {
  float: right;
  padding: rem(20px);
}

.icon-element {
  max-width: 100%;
  text-align: center;
  line-height: rem(20px);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;

  svg {
    width: 72px;
  }

  p {
    margin: 0;
    line-height: rem(18px);
    background-color: $background-color;
    text-align: center;
    white-space: nowrap;
  }
}
