@function rem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

$primary-font: 'VT323', monospace;
