.window {
  position: absolute;
  top: calc(50% - 130px);
  left: 15px;
  width: 500px;
  max-width: calc(100% - 30px);
  background-color: $background-color;
  border: 2px solid $fill-color;

  @include breakpoint(desktop) {
    left: calc(50% - 250px);
  }

  .icon-element {
    width: 42px;
  }
}

.window-header {
  text-align: center;
  border-bottom: 2px solid $fill-color;
  padding: 5px;
}

.stripes {
  background: repeating-linear-gradient(0deg,
    $fill-color, $fill-color 2px,
    $background-color 0, $background-color 6px
  );
}

.window-title {
  font-size: rem(26px);
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  background-color: $background-color;
}

.window-body {
  min-height: 260px;
  padding: 5px;
}

.window-close {
  float: right;
}

.close-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: $background-color;
  border: 1px solid $fill-color;
}

.window-grid {
  padding: rem(10px);
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  margin: rem(10px);
}
