@import 'settings';
@import 'normalize';
@import 'fonts';
@import 'window';

html {
  font-size: 16px;
}

body {
  font-family: $primary-font;
  font-size: rem(22px);
  margin: 0;
  padding: 0;
}

svg {
  max-width: 100%;
}

.bg1 {
  background: url(../img/background-01.png) repeat;
}

.bg2 {
  background: url(../img/background-02.png) repeat;
}

.bg3 {
  background: url(../img/background-03.png) repeat;
}

[id=top-bar] {
  background: white;
  padding: rem(10px) 0;
  z-index: 100;
  border-bottom: thin solid black;
}

[id=screen] {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 rem(10px);
  }
}

.icon-element {
  width: 72px;

  p {
    margin: 0;
    background-color: white;
    text-align: center;
    white-space: nowrap;
  }
}

@keyframes blinking {
  from {
    color: black;
  }

  to {
    color: transparent;
  }
}

.blink {
  animation: blinking 1.2s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.dragging,  .dragging * {
  cursor: move;
}
