.icons {
  padding: rem(20px);
  display: flex;
  flex-direction: column;
  grid-column-start: 12;

  .icon-element {
    margin-bottom: 30px;
  }
}

.trash {
  margin-top: auto;
}

.icon-element {
  max-width: 100%;
  text-align: center;
  line-height: rem(20px);

  svg {
    width: 72px;
    height: 72px;
  }

  p {
    margin: 0;
    line-height: rem(19px);
    background-color: $background-color;
    text-align: center;
    white-space: nowrap;
  }
}
