.icons {
  float: right;
  padding: rem(20px);

  .icon-element {
    margin-bottom: 30px;
  }
}

.icon-element {
  max-width: 100%;
  text-align: center;
  line-height: rem(20px);

  svg {
    width: 72px;
  }

  p {
    margin: 0;
    line-height: rem(19px);
    background-color: $background-color;
    text-align: center;
    white-space: nowrap;
  }
}
