[id=top-bar] {
  background-color: $background-color;
  z-index: 100;
  border-bottom: 2px solid $fill-color;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 rem(10px);
  }
}
